<div class="footer">
  <div class="footer-logo">
    <img class="logo-footer" src="assets/logo/logo_noir_png.png">
  </div>
  <div class="infos-footer">
    <h2>Adresse</h2>
    <p>Rue Timmermans 78, 1190 Forest</p>
  </div>
  <div class="a-propos-footer">
    <h2>A propos de Mille Idées</h2>
    <p>Recrute des bénévoles dans le secteur social afin d'aider des jeunes adolescents/adultes à se développer et de s'épanouir !</p>
  </div>
  <div class="partenaires-footer">
    <h2>Nos partenaires</h2>
  </div>
  <div class="footer-réseaux">
    <h2>Nos réseaux</h2>
    <div class="footer-reseaux-icons">
      <a href="https://www.instagram.com/milleidees_asbl/" target="_blank">
        <img src="assets/logo/logo-instagram.png" alt="Instagram">
      </a>
      <a href="https://www.linkedin.com/company/mille-idees-asbl/" target="_blank">
        <img src="assets/logo/linkedin.png" alt="Linkedin">
      </a>
    </div>
  </div>
</div>
<div class="footer-top">
  <footer class="footer-top-copyright">
    <p>&copy; 2025 Mille Idées. Tous droits réservés.</p>
  </footer>
</div>
