<div class="header-top">
  <div class="social-icons">
    <a href="https://www.instagram.com/milleidees_asbl/" target="_blank">
      <img src="assets/logo/logo-instagram.png" alt="Instagram">
    </a>
    <a href="https://www.linkedin.com/company/mille-idees-asbl/" target="_blank">
      <img src="assets/logo/linkedin.png" alt="Linkedin">
    </a>
  </div>
</div>
<header class="header">
  <div class="logo">
    <img src="/assets/logo/logo_noir_png.png" alt="logo" width="100">
    <div class="logo-text">
      <h3>Mille Idées Asbl</h3>
      <p>L'asbl qui vient en aide à la jeunesse Bruxelloise</p>
    </div>
  </div>
  <nav class="header-elements">
    <a routerLink="/home"><h3>🏠  Accueil</h3></a>
    <a routerLink="/asbl"><h3>Asbl</h3></a>
    <a routerLink="/contact"><h3>Contact</h3></a>
    <a routerLink="/projets"><h3>Projets</h3></a>
  </nav>
</header>


