.asbl-text {
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/image page asbl/istockphoto-1164870804-1024x1024.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px; /* important pour éviter que le texte colle aux bords */
  color: white; /* si tu veux plus de lisibilité */
}

